* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  list-style-position: inside;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

fieldset {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label, legend {
  font-size: 0.9rem;
  font-weight: 600;
}

#fields {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  background-color: #e4e4e4;
  gap: 5px;
}

.controlButtons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.editButton, .printButton {
  padding: 10px;
  width: 100px;
  font-weight: 600;
  border: 1px solid lightgrey;
  cursor: pointer;
  border-radius: 2px;
  color: black;
}

.editButton {
  background-color: rgb(255, 229, 217);
}

.editButtonActive {
  background-color: rgb(243, 101, 101);
}

.printButton {
  background-color: rgb(217, 255, 219);
}

.printButtonDisable {
  background-color: rgb(161, 161, 161);
  cursor: default;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

